<!DOCTYPE html>
<html>
  <head>
    <title>Minha biblioteca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/musicas/listar">Listar Músicas</a></li>
    </ul>

    <ul>
      <li><a href="/albuns/listar">Listar Álbuns</a></li>
    </ul>
  </body>
</html>